[submodule "imgtool"]
	path = imgtool
	url = git@github.com:LogicEu/imgtool.git
[submodule "mass"]
	path = mass
	url = git@github.com:LogicEu/mass.git
[submodule "utopia"]
	path = utopia
	url = git@github.com:LogicEu/utopia.git
[submodule "fract"]
	path = fract
	url = git@github.com:LogicEu/fract.git
[submodule "photon"]
	path = photon
	url = git@github.com:LogicEu/photon.git
[submodule "glee"]
	path = glee
	url = git@github.com:LogicEu/glee.git
[submodule "gleex"]
	path = gleex
	url = git@github.com:LogicEu/gleex.git
