[submodule "imgtool"]
	path = imgtool
	url = https://github.com/LogicEu/imgtool.git
[submodule "mass"]
	path = mass
	url = https://github.com/LogicEu/mass.git
[submodule "utopia"]
	path = utopia
	url = https://github.com/LogicEu/utopia.git
[submodule "fract"]
	path = fract
	url = https://github.com/LogicEu/fract.git
[submodule "photon"]
	path = photon
	url = https://github.com/LogicEu/photon.git
[submodule "spxe"]
	path = spxe
	url = https://github.com/LogicEu/spxe.git
